= form_for @title do |f|
  - if @title.errors.any?
    #error_explanation
      %h3= "#{pluralize(@title.errors.count, "error")} prohibited this title from being saved:"
      %ul
        - @title.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :作成時間：
    = f.date_select :date
  .field
    = f.label :内容：
    = f.text_field :content, :size=>"40x30"
  .field
    = f.label :作成者：
    = f.text_field :created_by_user
  .actions
    = f.submit '保存'
